
<span (ngSubmit)="addRecipe(newRecipeName, newRecipeIngredients, newRecipeInstructions)">
  <mat-form-field>
    <input matInput [(ngModel)]="newRecipeName" name="newRecipeName" placeholder="Recipe name">
  </mat-form-field>

  
  <mat-form-field>
    <input matInput [(ngModel)]="recipeIngredient.name" name="newIngredientName" placeholder="Ingredient name">
  </mat-form-field>

  <mat-form-field>
    <input type="number" matInput [(ngModel)]="recipeIngredient.weight" name="newIngredientWeight" placeholder="Ingredient weight">
  </mat-form-field>

  <button mat-raised-button type="button" (click)="addIngredient(recipeIngredient)">Add Ingredient</button>


  <table *ngIf="newRecipeIngredients.length > 0">
    <th colspan="2">Ingredient List</th>
    <tbody>
      <tr  *ngFor="let ingredient of newRecipeIngredients">
        <td >{{ingredient.name}}</td>
        <td >{{ingredient.weight}}oz</td>
      </tr>
    </tbody>
  </table>
  <mat-form-field>
    <textarea matInput [(ngModel)]="newRecipeInstructions" name="newRecipeInstructions" placeholder="Recipe Instructions"></textarea> 
  </mat-form-field>

  <button mat-raised-button *ngIf="newRecipeIngredients.length >= 1" type="submit">Add Recipe</button>
</span>
  
  
<ul>
    <mat-list-item *ngFor="let recipe of recipes">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{recipe.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}} {{ingredient.weight}}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </ul>
