<p>navigation works!</p>
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="nav-left">
        <div>
          <button mat-icon-button (click)="ui.toggleSideNav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
  
        <span
          class="nav-logo"
          (click)="ui.navigate(Route.HOME); pantry.getAllInventory()"
          >iPantry
        </span>
      </div>
  
      <div class="nav-center">
        <!-- <app-search-bar></app-search-bar> -->
      </div>
  
      <div class="nav-right">
        <!-- <button
          mat-icon-button
          title="Create new inventory!"
          (click)="ui.navigate(Route.INVENTORY_PAGE)"
        >
          <mat-icon>add_box</mat-icon>
        </button> -->
  
        <button
          mat-icon-button
          title="Create an account!"
          (click)="ui.navigate(Route.REGISTER)"
        >
          <mat-icon>person_add</mat-icon>
        </button>
  
        <button
          mat-icon-button
          title="Go to {{pantry.name}}!"
          (click)="ui.navigate(Route.ACCOUNT)"
          (click)="ui.getPantry()"
        >
          <!--- UicartService.getCurrentItems() is quick and dirty added by Bear for sheer functionality -->
          <mat-icon
            [matBadge]="badgeNumber"
            matBadgePosition="after"
            matBadgeColor="accent"
            matBadgeSize="small"
            >shopping_cart</mat-icon
          >
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>