<!-- <p>navigation works!</p>
<mat-toolbar>
    <mat-toolbar-row>
      <div class="nav-left">
  
        <span>iPantry</span>
      </div>

      <button mat-button [matMenuTriggerFor]="menu" [ngSwitch]="ui.getCurrentRoute()">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <app-pantry *ngSwitchCase="route.PANTRY"></app-pantry>
          <mat-icon>kitchen</mat-icon>
        </button>
        <button mat-menu-item></button>
      </mat-menu>
        
     
    </mat-toolbar-row>
  </mat-toolbar> -->