

    <form id="form" ngForm (ngSubmit)="registerAccount()">
        
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input name="email" type="email" matInput [(ngModel)]="email" placeholder="email@email.com">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input name="password" matInput type="password" [(ngModel)]="password">
        </mat-form-field><br>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Your Pantry</mat-label>
            <input name="pantry" matInput type="input" [(ngModel)]="pantry">
        </mat-form-field><br> -->
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input name="firstName" matInput  [(ngModel)]="firstName">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input name="lastName" matInput [(ngModel)]="lastName">
            
        </mat-form-field><br>
        <button mat-raised-button type="submit">Register</button>
    </form>

<!-- 
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
       
    </thead>
    <tbody>
        <tr *ngFor="let account of account">
            <td>{{account.firstName}}</td>
            <td>{{account.lastName}}</td>
            <td>{{account.email}}</td>
            
        </tr>
    </tbody>
</table> -->