<p>register works!</p>
<div id="registerContainer" *ngIf="account">
    <h2>Welcome {{account.firstName}}</h2>
    <form>
        <input [(ngModel)]="account.firstName" class="input" placeholder ="First Name">
        <input [(ngModel)]="account.lastName" class="input" placeholder="Last Name">
        <input [(ngModel)]="account.email" type="email" class="input" placeholder="Email">
        <input [(ngModel)]="account.password" type="password" class="input" placeholder="Password">
        <input class="input" placeholder="Give your pantry a name">
    </form>
    <button (click)="registerAccount(account)" *ngIf="!account.id">
        Register
    </button>
</div>